- content_for :javascript do
  :javascript
    // call cycle immediately, without a ready handler
    $('#slideshow').cycle({
      fx:     'all',
      timeout: 8000,
      speed:   800
    });

.main
  .pics#slideshow
    - current_object.pages.each do |page|
      - if "webpage".eql? page.page_type
        %div
          %iframe{:src => page.url, :width => (current_object.screen_width-35), :scrolling => "no", :height => (current_object.screen_height-40)}
