.footer
  %span
    &copy; 2010
  = link_to APP_CONFIG['app_name'], APP_CONFIG['home_url']
  .right
    = link_to t('.support'), APP_CONFIG['support_url']
    = link_to t('.help'), APP_CONFIG['help_url']