<div class="global_navigation"><%
  render_tabnav :global do
    add_tab do |t|
      t.named t('.home')
      t.links_to APP_CONFIG['home_url']
      t.tab_index = '50'
    end if APP_CONFIG.has_key? 'home_url'

    add_tab do |t|
      t.named t('.slides')
      t.links_to slides_path
      t.tab_index = '10'
      t.highlights_on :controller => 'slides'
      t.highlights_on :controller => 'pages'
    end
  end
%><div class="clear"></div></div>
